.bubble-sort{
  display: flex;
  justify-content: center;
  /* position: relative; */

}
.bubble{
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: 1%;
  color: wheat;
  text-align: center;
  background: green;
  border-radius: 10px; 
  -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
  transition: 2s;
  animation-iteration-count: 3;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .bubble{
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 1%;
    color: wheat;
    text-align: center;
    background: green;
    border-radius: 10px; 
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s ease;
    animation-iteration-count: 3;
    line-height: 10px;
  }
  
}